<mat-toolbar color="primary">
  <img id="apple" src="assets/apple.png" alt="" (load)="appleLoaded()">
  <span style="margin-left: 10px;">{{title}}</span>
  <span class="spacer"></span>
  <button mat-raised-button style="margin-right: 10px;" (click)="newGame()">New game</button>
  <span>Score:</span>&nbsp;
  <h1 id="score">0</h1>

</mat-toolbar>

<mat-toolbar style="margin-bottom: 20px;">
  <mat-card-subtitle>
    Use Left, Right, Up, Down keys, Space for pause
  </mat-card-subtitle>
  <span class="spacer"></span>
  <mat-card-subtitle id="info">
  </mat-card-subtitle>
</mat-toolbar>
<canvas width="420" height="420"></canvas>
<!-- {{playerName}} -->